---
layout: base.njk
permalink: /anthology.de.html
title: Die Anthologie der europäischen Sicherheitsstudien
description: Alle Personen, die seit 2017 auf einer EISS-Jahreskonferenz oder einem Workshop vorgetragen haben, und jeder Beitrag. Durchsuchen Sie die Anthologie nach Person oder nach Beitrag und filtern Sie nach Jahr oder Thema.
metaImage: /assets/images/anthology-meta.jpg
navKey: "navigator"
lang: de
status: beta
archiveDefaultView: people
alternates:
  en: /anthology.html
  fr: /anthology.fr.html
  de: /anthology.de.html
---
{% include "archive-page.njk" %}
