---
layout: base.njk
permalink: /conferencepast.html
title: Past conferences
description: Past conferences page has moved to /past.html.
redirectTo: /past.html
redirectLabel: Past conferences
navKey: conferences
---

{% include "redirect-body.njk" %}
