---
layout: base.njk
permalink: /JPW2019.html
title: Joint Policy Workshop 2019
description: 2019 Joint Policy Workshop on Intra-Alliance Challenges to NATO's Cohesion and European Security, hosted by EISS, NATO Defense College, and VUB Institute for European Studies.
navKey: ""
status: archive
---

{% include "jpw-2019-body.njk" %}
