---
layout: base.njk
permalink: /membership-conf-prompt.html
title: Membership
description: Conference membership prompt has moved to the main membership page.
redirectTo: /membership.html
redirectLabel: Membership
navKey: membership
---

{% include "redirect-body.njk" %}
