---
layout: base.njk
permalink: /outputs.de.html
title: Publikationen und Ergebnisse
description: Die Publikationen des EISS-Netzwerks stehen jetzt auf der Seite Die Initiative; die eigenen Arbeiten der Mitglieder sind auf ihren Profilseiten.
redirectTo: /initiative.de.html#outputs
redirectLabel: Die Initiative
navKey: ""
lang: de
---
{% include "redirect-body.njk" %}
