---
layout: base.njk
permalink: /outputs.fr.html
title: Publications et productions
description: Les publications du réseau EISS figurent désormais sur la page L'Initiative ; les travaux personnels des membres sont sur leurs pages de profil.
redirectTo: /initiative.fr.html#outputs
redirectLabel: L'Initiative
navKey: ""
lang: fr
---
{% include "redirect-body.njk" %}
