---
layout: base.njk
permalink: /outputs.fr.html
title: Publications et productions
description: Les travaux produits par le réseau EISS, et les publications récentes de nos membres du bureau et de la communauté, tirées de leurs fiches ORCID publiques.
navKey: ""
lang: fr
status: beta
alternates:
  en: /outputs.html
  fr: /outputs.fr.html
  de: /outputs.de.html
---
{% include "outputs-page.njk" %}
