---
layout: base.njk
permalink: /page20.html
title: Joint Policy Workshop 2022
description: Older JPW 2022 snapshot. See the main JPW 2022 page.
redirectTo: /JPW2022.html
redirectLabel: Joint Policy Workshop 2022
navKey: ""
---

{% include "redirect-body.njk" %}
