---
layout: base.njk
permalink: /page7.html
title: Support Team
description: Support team has been merged into the main People page.
redirectTo: /board.html
redirectLabel: The People
navKey: ""
---

{% include "redirect-body.njk" %}
