---
layout: base.njk
permalink: /papers.fr.html
title: L'Anthologie des études de sécurité européennes
description: L'Anthologie a été déplacée vers /anthology.fr.html.
redirectTo: /anthology.fr.html
redirectForceView: papers
redirectLabel: l'Anthologie
redirectPreserveQuery: true
navKey: "navigator"
lang: fr
---
{% include "redirect-body.njk" %}
