---
layout: base.njk
permalink: /programmes.de.html
title: Aktivitäten
description: Die Seite Aktivitäten wurde nach /events.de.html verschoben.
metaImage: /assets/images/programmes-meta.jpg
redirectTo: /events.de.html
redirectLabel: Veranstaltungen
navKey: ""
lang: de
---

{% include "redirect-body.njk" %}
