---
layout: base.njk
permalink: /programmes.html
title: Activities
description: The Activities page has moved to /events.html.
redirectTo: /events.html
redirectLabel: Events
navKey: ""
---

{% include "redirect-body.njk" %}
