---
layout: base.njk
permalink: /programmes.fr.html
title: Activités
description: La page Activités a été déplacée vers /events.fr.html.
redirectTo: /events.fr.html
redirectLabel: Événements
navKey: ""
lang: fr
---

{% include "redirect-body.njk" %}
