---
layout: base.njk
permalink: /refund.html
title: Terms & Conditions
description: This page has moved to /terms.html.
redirectTo: /terms.html
redirectLabel: Terms & conditions
navKey: ""
---

{% include "redirect-body.njk" %}
