---
layout: base.njk
permalink: /speakers.fr.html
title: L'Anthologie des études de sécurité européennes
description: Toutes les personnes ayant présenté lors d'une conférence annuelle ou d'un atelier de l'EISS depuis 2017, et chaque communication donnée. Parcourez l'Anthologie par personne ou par communication, et filtrez par année ou par thème.
navKey: "navigator"
lang: fr
status: beta
archiveDefaultView: people
alternates:
  en: /speakers.html
  fr: /speakers.fr.html
  de: /speakers.de.html
---
{% include "archive-page.njk" %}
