---
layout: base.njk
permalink: /speakers.de.html
title: Die Anthologie der europäischen Sicherheitsstudien
description: Die Anthologie ist nach /anthology.de.html umgezogen.
redirectTo: /anthology.de.html
redirectLabel: zur Anthologie
redirectPreserveQuery: true
navKey: "navigator"
lang: de
---
{% include "redirect-body.njk" %}
