---
layout: base.njk
permalink: /speakers.fr.html
title: Intervenants
description: Toutes les personnes ayant présenté lors d'une European Security Studies Conference, sur chaque édition depuis 2017, avec les communications données chaque année.
navKey: ""
lang: fr
status: beta
alternates:
  en: /speakers.html
  fr: /speakers.fr.html
  de: /speakers.de.html
---
{% include "speakers-index.njk" %}
