---
layout: base.njk
permalink: /speakers.html
title: The European Security Studies Anthology
description: The Anthology has moved to /anthology.html.
redirectTo: /anthology.html
redirectLabel: the Anthology
redirectPreserveQuery: true
navKey: "navigator"
lang: en
---
{% include "redirect-body.njk" %}
